/* Search */
.search {
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input{
    font-family: Arial, Helvetica, sans-serif;
    color: #a9a9d693;
    border: none;
    padding: 0 4vh;
    height: 5vh;
    border-radius: 100px;
    width: 90%;
    background-color: #0b91cb3a;
    margin-right: -2vw;
    font-size: 2vh;
}
.search-input:focus{
    outline: none;
    width: 100%;
    background-color: #0b91cb3a;
    color: #a9a9d6;
}

.search-button::-moz-focus-inner{
    border: none;
}
.search-button:focus{
    outline: none;
    transform: translateY(2px);
    background-color: #0b91cb;
}
.search-icon:focus, .search-icon:active{
    outline: none;
}

/* Sort */
.sort-button{
    padding: 1vh;
    border-radius: 1vh;
}
.sort-button:focus{
    outline: none;
    transform: translateY(2px);
}
.sort-button::-moz-focus-inner{
    border: none;
}
.sort-icon{
    height: 3vh;
    width: 3vh;
    fill: white;
}

/* Extend */
.extend{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Profile */
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.profile span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.profile-icon{
    height: 9.5vh;
    width: 5vw;
    fill: rgba(255, 255, 255, 0.7);
}

/* btn icons */
.btn-icon, .extend-icon, .delete-icon{
    width: 4vh;
    height: 4vh;
    fill: rgba(255, 255, 255, 0.8);
}

.edit-icon, .search-icon, .add-btn-icon{
    width: 2.5vh;
    height: 2.5vh;
    fill: rgba(255, 255, 255, 0.8);
}

.delete-icon{
    fill: rgb(182, 14, 42);
    display: none;
}
.drag-dots-icon{
    width: 1vw;
    height: 2vh;
    fill: rgba(255, 255, 255, 0.30);
}
.drag-dots-icon:first-child{
    margin-right: -25%;
}
.add-btn-icon{
    width: 3vh;
    height: 3vh;
    fill: rgba(255, 255, 255, 0.8);
}