
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html, body{
    height: 100%;
    align-content: center;
    background-color: #15182D;
}

section.container {
    max-width: 114rem;
    height: 92vh;
    margin: 2% 4%;
}
.row{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.col-1-of-4{
    width: 22%;
}
.col-small{
    width: 18%;
}
.col-3-of-4{
    flex: 1;
}
.horizontal-gutter{
    width: 1%;
}

.card {
    background-color: #263049;
    align-content: center;
    border-radius: 1rem;
}
.card:not(.section-side){
    box-shadow: 0.3px 0.05px 0.2rem #161b2b;
}
.section-side {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 0;
}
.section-query{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1%;
}
.query-item{
    margin-left: 1vw;
}

/* Header */
.header{
    display: flex;
    width: 100%;
    background-color: #263049;
    height: 10vh;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
}
.top-nav{
    width: 95%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
    color: white;
}
.top-nav .top-nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2vh 4vw;
}
.top-nav .top-nav-item:focus{
    color: red;
}
.extend{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Profile */
.profile-icon-holder{
    display: flex;
    align-content: unset;
}


/* btn */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b91cb;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    transition-timing-function: cubic-bezier(.39,.58,.57,1);
}
.nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}
/* Primary btn */
.primary{
    display: flex;
    width: 60%;
    justify-content: stretch;
    margin-bottom: 1vh;
    border-radius: 1rem;
    background-color: #263049;
    box-shadow: 0.3px 0.05px 0.2rem #161b2b;
}
.primary:first-child{
    margin-bottom: 4vh;
    margin-top: 5%;
}
.primary:focus, .primary:active{
    outline: none;
    border: none;
    background-color: #0b91cb;
    transition-duration: 500ms;
}
.primary::-moz-focus-inner{
    border: none;
}
.btn-text{
    display: flex;
    align-self: left;
    font-size: 2vh;
    padding: 2.1vh 0;
}
.btn-icon-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: #0b91cb;
    margin-right: 5%;
    border-radius: 0.8rem;
}
.primary:focus .btn-icon-holder, .primary:active .btn-icon-holder{
    background-color: #263049;
    transition-duration: 500ms;
}

/* @media (max-width:80rem){
    .section-side, .horizontal-gutter, .col-1-of-4{
        display: none;
    }
} */


/* Ranks */
.rank-item-holder{
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    color: white;
}
.rank-items{
    height: 9vh;
    width: 18vw;
    margin-bottom: 1vh;
    position: relative;
}
.item{
    padding: 0 1vw;
    line-height: 4vh;
    font-size: 2vh;
}
.category{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
    background-color: #0b91cb67;
}
.cat-text{
    padding: 0 2vw;
    line-height: 4vh;
}
.rank-text{
    color: white;
    margin-bottom: 0.6vh;
    font-size: 2vh;
}


/* Favorite Item */
.edit-icon-holder, .search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background-color: #0b91cb;
    border-radius: 10rem;
    border: none;
    outline: none;
}

.rank{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    background-color:  #263049;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    width: 5vw;
    height: 5vh;
    border-radius: 0.3rem;
    padding-left: 0.3rem;
    font-size: 2vh;
}
.number-holder{
    background-color: #0b91cb67;
    height: 100%;
    width: 40%;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav-thing-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items{
    color: white;
    border-bottom: 0.1rem solid #0b91cb67;
    min-height: 14vh;
    pointer-events: all;
    cursor: pointer;
}
.fav-thing{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2%;
}
.fav-thing span{
    margin-bottom: 2%;
}
.fav-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    align-self: stretch;
}
.rank-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    padding: 2% 0;
}
.created-at-text{
    position: relative;
    bottom: -25%;
}
.created-at-text{
    font-size: 1.5vh;
}
.fav-description, .fav-metadata{
    color: rgba(255, 255, 255, 0.7);
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis !important; 
    white-space: nowrap;
}
.favorite-things{
    max-height: 70vh;
    overflow-y: auto;
}
.fav-metadata, .created-at-text, .edit-icon-holder{
    display: none;
}
.list-items:hover .delete-icon {
    display: unset;
}
.list-items:hover .time{
    display: none;
}
.list-items:hover .drag-dots-holder{
    display: flex;
}
.list-items:hover .rank-content{
    margin-left: -2%;
}
/* This is the section I would want to show upon click */
.list-items:active .fav-metadata, .list-items:active .created-at-text, .list-items:active .edit-icon-holder, .list-items:active .time{
    display: unset;
}
.list-items:active .delete-icon, .list-items:active .drag-dots-holder {
    display: none;
}
.list-items:active .fav-description{
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
}
.list-items:active .rank-content{
    margin-left: unset;
}
.drag-dots-holder{
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}